@using Core.Core.Security.Entities
@model List<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-12">
    <section class="panel">
        <header class="panel-heading no-border ">
            <strong>Users</strong>
        </header>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Status</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Status</td>

                        <td><a href="/User/DeleteUser/@item.Id" class="btn btn-danger">Delete</a> </td>
                        <td><a href="/User/UpdateUser/@item.Id" class="btn btn-warning">Update</a> </td>


                    </tr>
                }

            </tbody>
        </table>

    </section>
    <a href="/User/AddUser/" class="btn btn-success">Add New</a>
</div>

